.container-fluid {
  padding: 0;
  background-color: #f1f1f1;
}
.container-fluid .top {
  width: 100%;
  padding: 16px 12px;
}
.container-fluid .top ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  margin-bottom: 0;
  padding-left: 0;
}
.container-fluid .top ul li:first-child a {
  color: #d3079e;
}
.container-fluid .top ul li:nth-child(2) {
  font-size: 20px;
}
.container-fluid .top ul li:nth-child(3) a img {
  height: 25px;
}
.container-fluid .banner {
  width: 100%;
  position: relative;
}
.container-fluid .banner a {
  width: 100%;
}
.container-fluid .banner a img {
  width: 100%;
}
.container-fluid .banner_nav {
  width: 100%;
  margin-left: 5px;
  position: relative;
}
.container-fluid .banner_nav ul {
  width: 100%;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.container-fluid .banner_nav ul li {
  width: 33%;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 0;
}
.container-fluid .banner_nav ul li a {
  width: 100%;
}
.container-fluid .banner_nav ul li a img {
  width: 100%;
}
.container-fluid .flay_nav {
  width: 100%;
  margin-top: 8px;
  background-color: #f7f7f7;
  margin-bottom: 14px;
}
.container-fluid .flay_nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.container-fluid .flay_nav ul li {
  width: 25%;
  border: 1px solid #ccc;
}
.container-fluid .flay_nav ul li a {
  width: 100%;
}
.container-fluid .flay_nav ul li a img {
  width: 100%;
}
.container-fluid .baby_nav {
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}
.container-fluid .baby_nav .baby_nav_l {
  width: 50%;
  float: left;
}
.container-fluid .baby_nav .baby_nav_l img {
  width: 100%;
  border-right: 1px solid #cdcdcd;
}
.container-fluid .baby_nav .baby_nav_r {
  width: 50%;
  float: left;
}
.container-fluid .baby_nav .baby_nav_r img {
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}
.container-fluid .baby_nav .baby_nav_r img:last-child {
  border-bottom: 0 none;
}
.container-fluid .c_c {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 7px;
  margin-bottom: 15px;
}
.container-fluid .c_c .c_c_t {
  width: 100%;
  padding-left: 15px;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
}
.container-fluid .c_c .c_c_b {
  width: 100%;
}
.container-fluid .c_c .c_c_b img {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.container-fluid .b_c {
  width: 100%;
}
.container-fluid .b_c .b_c_t {
  width: 100%;
}
.container-fluid .b_c .b_c_t ul {
  width: 100%;
  list-style: none;
  display: flex;
  padding-left: 0;
}
.container-fluid .b_c .b_c_t ul li {
  width: 50%;
  text-align: center;
}
.container-fluid .b_c .b_c_t ul li a {
  width: 65px;
  height: 28px;
  color: #000000;
  display: inline-block;
  border-bottom: 1px solid #d3079e;
}
.container-fluid .b_c .b_c_t ul li a:hover {
  text-decoration: none;
}
.container-fluid .b_c .b_c_t ul li:first-child a {
  color: #d3079e;
}
.container-fluid .b_c .b_c_t ul li:last-child a {
  border-bottom: 0 none;
}
.container-fluid .b_c .b_c_m {
  width: 100%;
}
.container-fluid .b_c .b_c_m .b_c_m_banner {
  width: 100%;
}
.container-fluid .b_c .b_c_m .b_c_m_banner img {
  width: 100%;
}
.container-fluid .b_c .b_c_m .b_c_m_banner span {
  width: 100%;
  color: #000;
  font-size: 14px;
  display: block;
  margin-top: 9px;
}
.container-fluid .b_c .b_c_m .b_c_m_banner p {
  width: 100%;
  color: #3a434e;
  font-size: 16px;
  margin-top: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.container-fluid .b_c .b_c_b {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  background-color: #f7f7f7;
}
.container-fluid .b_c .b_c_b a {
  width: 100%;
  color: #000;
}
.container-fluid .footer {
  width: 100%;
  background-color: #d3079e;
  padding: 10px 15px;
  position: relative;
}
.container-fluid .footer .footer_l a {
  color: white;
  margin-right: 20px;
}
.container-fluid .footer .footer_r {
  position: absolute;
  top: 10px;
  right: 15px;
}
.container-fluid .footer .footer_r a {
  color: white;
  font-weight: 700;
}
